<!DOCTYPE html>
<html>

<head>
	<title>华为商城</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="static/css/public.css" />
	<link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/elementui.css" />
	<link rel="shortcut icon" href="favicon.ico">
	<script src="static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/vue.js"></script>
	<script src="static/js/elementui.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="pdetail">
		<div id="" class="top_gg">
			<a href="">
				<!-- <img src="static/image/top_gg.jpg" /> -->
			</a>
		</div>
		<div id="" class="shortcut">
			<div class="layout">
				<div class="s-sub">
					<ul>
						<li>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="systemInfo.html">商城简介</a>
						</li>
						<!-- <li>
								<a href="">帮助中心 用户反馈</a>
							</li> -->
						<li>
							<a href="baoxiu.html">保修政策</a>
						</li>
						<li>
							<a href="problem.html">热门问题</a>
						</li>
					</ul>
				</div>
				<div class="s-right">
					<ul>
						<li>
							<a href="index.html" v-if="!userInfo.userName">未登录</a>
							<a href="userInfo.html" v-else>{{userInfo.userName}}</a>
						</li>
						<!-- <li v-if="userInfo.userName">
								<a href="javascript:void(0)">积分：{{userInfo.jifen}}</a>
							</li> -->
						<!--<li>
								<a href="javascript:void(0)" @click="dialogFormVisible = true">注册</a>
							</li>-->
						<li>
							<a href="javascript:void(0)">|&emsp;购物车</a>
						</li>
						<li>
							<a href="javascript:void(0)" @click="hrefOrder">|&emsp;订单</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--header-->
		<div class="header">
			<div id="" class="layout">
				<div class="left">
					<div class="logo">
						<img src="static/image/logo.png" />
					</div>
					<div class="naver">
						<ul id="naver-list">
							<li id="huawei" class="">
								<a href="ry.html" target="_blank">
									<span>荣耀</span>
								</a>
							</li>
							<li id="huawei" class="">
								<a href="p.html" target="_blank">
									<span>HUAWEI P系列</span>
								</a>
							</li>
							<li id="honor" class="">
								<a href="rycw.html" target="_blank">
									<span>华为畅享系列</span>
								</a>
							</li>
							<li id="honor" class="">
								<a href="mate.html" target="_blank">
									<span>HUAWEI Mate系列</span>
								</a>
							</li>
							<li id="honor" class="">
								<a href="nova.html" target="_blank">
									<span>HUAWEI nova系列</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--导航右边部分-->
				<div class="right">
					<input type="text" v-model="searchVal" placeholder="荣耀10降价" class="search-text">
					<el-button class="search-btn" icon="el-icon-search" @click="onsearchVal" style="padding: 12.5px;"
						circle></el-button>
					<!-- <input type="submit" class="search-btn" @click="onsearchVal" value="搜索"> -->
				</div>
			</div>
		</div>
		<div id="car-table" class="layout">
			<p style="color:#666"><a href="index.html" style="color:#666">首页 </a> > 购物车</p>
			<!-- <table border cellspacing="0" v-if="jsonData.length">
					<tr>
						<th>主图</th>
						<th>手机名称</th>
						<th>价格</th>
						<th>简介</th>
						<th>操作</th>
					</tr>
					<tr v-for="(item,index) in jsonData" :key="index">
						<td><img :src="'sas/upload/'+item.img" alt="" srcset=""> </td>
						<td>{{item.name}}</td>
						<td>{{item.price}}</td>
						<td>{{item.jianJie}}</td>
						<td class="table-delete" @click="delet(item.id)">删除</td>
					</tr>
				</table> -->
			<el-table :data="jsonData" style="width: 100%">
				<el-table-column label="主图">
					<template slot-scope="scope">
						<a :href="`detail.html?id=${scope.row.id}`">
							<img :src="'sas/upload/'+scope.row.img" alt=""></a>
					</template>
				</el-table-column>
				<el-table-column prop="name" label="手机名称">
				</el-table-column>
				<el-table-column prop="price" label="价格">
				</el-table-column>
				<el-table-column prop="jianJie" label="简介">
				</el-table-column>
				<el-table-column prop="p_version" label="版本">
				</el-table-column>
				<el-table-column prop="p_color" label="颜色">
				</el-table-column>
				<el-table-column prop="p_num" label="数量" width="180">
					<template slot-scope="scope" >
						<el-input-number style="width: 138px" v-model="scope.row.p_num" @change="handleChange($event,scope.row)" :min="1" :max="20" label="描述文字"></el-input-number>
					</template>
				</el-table-column>
				<el-table-column label="操作">
					<template slot-scope="scope">
						<a href="javascript:void(0)" style="color:#1989fa" @click="delet(scope.row.id)">删除</a>
						<a href="javascript:void(0)" style="color:#1989fa" @click="toOrder(scope.row)">下单</a>
					</template>
				</el-table-column>
			</el-table>
		</div>
		<!-- 地址弹窗 -->
		<el-dialog title="请先填写收货地址" :visible.sync="dialog_order" width="30%">
			<el-form :model="form">
				<el-form-item label="收货地址" :label-width="form.formLabelWidth">
					<!-- <el-input v-model="form.address" autocomplete="off"></el-input> -->
					<el-select v-model="form.address" placeholder="请选择">
						<el-option v-for="item in jsonAddressData" :key="item.userAddress" :label="item.userAddress"
							:value="item.userAddress"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="收货人" :label-width="form.formLabelWidth">
					<el-input v-model="form.userName" autocomplete="off"></el-input>
				</el-form-item>
				<el-form-item label="手机号" :label-width="form.formLabelWidth">
					<el-input v-model="form.mobile" autocomplete="off"></el-input>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button @click="dialog_order = false">取 消</el-button>
				<el-button type="primary" @click="dialogVisibleOrder = true;dialog_order = false">确 定</el-button>
			</span>
		</el-dialog>
		<el-dialog
			title="确认下单"
			:visible.sync="dialogVisibleOrder"
			width="30%"
			>
			<p>{{orderInfoData.name}} ({{orderInfoData.jianJie}})</p>
			<p>单价：  {{orderInfoData.price}} ({{orderInfoData.p_color}}--{{orderInfoData.p_version}})</p>
			<p>收货地址: {{form.address}}</p>
			<p>收货人: {{form.userName}}</p>
			<p>手机号: {{form.mobile}}</p>
			<p style="color:red">实付: ￥{{orderInfoData.price * orderInfoData.p_num}}</p>
			<span slot="footer" class="dialog-footer">
				<el-button @click="dialogVisibleOrder = false">取 消</el-button>
				<el-button type="primary" @click="sure_order">确 定</el-button>
			</span>
		</el-dialog>
		<!--底部footer版权-->
		<div id="footer">
			<div class="foot">
				<!--<p class="foot_logo"><img src="static/image/flogo.png" /></p>-->
				<p class="">Designed and developed by chenwei huo.<br /> Copyright © 2010-2019 chenwei.com. All Rights Reserved.</p>
				<p class=""></p>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	// 注册
	Vue.component('my-component', {});
	var WEITUOSERVER = new Vue({
		el: '#pdetail',
		data: {
			jsonData: [],
			dialogTableVisible: false,
			dialogFormVisible: false,
			pid: "",
			radio_color: "1",
			radio_v: "1",
			searchVal:"",
			dialogVisibleOrder:false,
			dialog_order: false, //下单弹窗
			jsonAddressData: [],
			orderInfoData: {}, // 暂存 下单数据
			form: { address: "河南省郑州市二七区", formLabelWidth: "120px", userName: "", mobile: "" },
			userInfo: JSON.parse(window.sessionStorage.user),
		},
		created() {
			this.gatData();
			this.gatAddressData()
		},
		methods: {
			handleChange(value,data) {
				console.log(value);
				console.log(data);
				var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) :"";
				var that = this;
				$.ajax({
					type: "GET",
					url: "php/car.php",
					data: { "userId": JSON.parse(window.sessionStorage.user).userId ,"p_num":value,"pid":data.id,"changePnum":"changePnum"},
					dataType: "json",
					success: function (data) {
						console.log("数量修改成功")
					},
				});
			},
			gatAddressData(){
					var that = this;
					var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) :"";
					if(!user){
						this.$message({
							message: '请先登录',
							type: 'warning'
						});
							return;
					}
					$.ajax({
							type: "GET",
									url: "php/detail.php",
									data: {"userId":user.userId,"getAddressdata":"getAddressdata"},
									dataType: "json",
							success: function(res) {
									that.jsonAddressData = res.data;
									that.form.address = res.data[0].userAddress ? res.data[0].userAddress : "河南省郑州市二七区";
									that.form.userName = res.data[0].getUserName ? res.data[0].getUserName : "";
									that.form.mobile = res.data[0].userPhone ? res.data[0].userPhone : "";
							},
					});
			},
			gatData() {
				var that = this;
				$.ajax({
					type: "GET",
					url: "php/car.php",
					data: { "userId": JSON.parse(window.sessionStorage.user).userId },
					dataType: "json",
					success: function (data) {
						that.jsonData = data.data;
					},
				});
			},
			delet(id) {
				var that = this;
				$.ajax({
					type: "GET",
					url: "php/car.php",
					data: { "pid": id, "del": "del" },
					dataType: "json",
					success: function (data) {
						that.$message({
							message: "删除成功",
							type: 'success'
						});
						that.gatData();
					},
					error: function (data) {
						that.$message({
							message: data.responseText,
							type: 'warning'
						});
						window.location.reload();
					}
				});
			},
			xiadan() {
				this.$message({
					message: '恭喜你，下单成功',
					type: 'success'
				});
			},
			addCar() {
				var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) : "";
				if (!!user) {

				} else {
					this.$message({
						message: '请先登录',
						type: 'warning'
					});
				}
			},
			hrefOrder() {
				if (window.sessionStorage.user) {
					window.location.href = "order.html"
				} else {
					this.$message({
						message: '请先登录',
						type: 'warning'
					});
				}
			},
			toOrder(arg) {
				this.dialog_order = true;
				this.orderInfoData = arg;
				console.log(arg)
			},
			// 确定下单
			sure_order() {
				if (!(this.form.address && this.form.mobile && this.form.userName)) {
					this.$message({
						message: '请填写完整信息',
						type: 'warning'
					});
					return;
				}
				this.dialog_order = false;
				this.order();
			},
			order() {
				var that = this;
				var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) : "";
				var that = this;
				var orderDate = this.formatDate(new Date());
				$.ajax({
					type: "GET",
					url: "php/detail.php",
					data: { "pid": that.orderInfoData.id, "userId": user.userId, "p_class": that.orderInfoData.p_class, "p_name": that.orderInfoData.name, "price": that.orderInfoData.price, "img": that.orderInfoData.img, "jianJie": that.orderInfoData.jianJie, "my_address": that.form.address, "user_name": that.form.userName, "user_mobile": that.form.mobile, "p_color": that.orderInfoData.p_color, "p_version": that.orderInfoData.p_version, "orderDate": orderDate, "orderCode": Date.parse(new Date()),"shifu": that.orderInfoData.price*that.orderInfoData.p_num,"userName":user.userName},
					dataType: "json",
					success: function (res) {
						if (res.resultCode == 200) {
							that.$message({
								message: '恭喜你，下单成功',
								type: 'success'
							});
							// that.jiFen();
							that.dialogVisibleOrder = false;
							that.sales(that.orderInfoData.id);
						} else if (res.resultCode == "00") {
							that.$message({
								message: '请不要重复下单',
								type: 'warning'
							});
						}
					},
					error: function (data) {
						that.$message({
							message: '下单失败',
							type: 'success'
						});
					}
				});
			},
			formatDate(now) {
				var year = now.getFullYear();
				var month = now.getMonth() + 1;
				var date = now.getDate();
				var hour = now.getHours();
				var minute = now.getMinutes();
				var second = now.getSeconds();
				// return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second; 
				return year + "-" + month + "-" + date + " " + hour + ":" + minute;
			},
			sales(productId) {
				$.ajax({
					type: "GET",
					url: "php/detail.php",
					data: { "productId": productId, "addsales": "addsales" },
					dataType: "json",
					success: function (res) {
						if (res.resultCode == 200) {
							console.log("销量增加成功")
						}
					},
					error: function (data) {

					}
				});
			},
			// 搜索
			onsearchVal(){
				var arg = encodeURI(encodeURI(this.searchVal));
				window.location.href = "index_search.html?arg="+arg;
			},
		}
	})
</script>

</html>