<!DOCTYPE html>
<html>
	<head>
		<title>华为商城</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/elementui.css"/>
		<link rel="shortcut icon" href="favicon.ico">
		<script src="static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/vue.js"></script>
		<script src="static/js/elementui.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="pdetail">
			<div id="" class="top_gg">
				<a href="">
					<img src="static/image/top_gg.jpg" />
				</a>
			</div>
			<div id="" class="shortcut">
				<div class="layout">
					<div class="s-sub">
						<ul>
							<li>
								<a href="index.html">首页</a>
							</li>
							<li>
								<a href="">华为官网</a>
							</li>
							<li>
								<a href="">荣耀官网</a>
							</li>
							<li>
								<a href="">花粉俱乐部</a>
							</li>
							<li>
								<a href="">帮助中心</a>
							</li>
							<li>
								<a href="">优购码</a>
							</li>
							<li>
								<a href="">企业购</a>
							</li>
						</ul>
					</div>
					<div class="s-right">
						<ul>
							<li>
								<a href="index.html" v-if="!userInfo.userName">未登录</a>
								<a href="javascript:void(0)" v-else>{{userInfo.userName}}</a>
							</li>
							<!--<li>
								<a href="javascript:void(0)" @click="dialogFormVisible = true">注册</a>
							</li>-->
							<li>
								<a href="javascript:void(0)">|&emsp;订单</a>
							</li>
							<li>
								<a href="javascript:void(0)"  @click="car">购物车</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--header-->
			<div class="header">
				<div id="" class="layout">
					<div class="left">
						<div class="logo">
							<a href="index.html">
							<img src="static/image/logo.png" /></a>
						</div>
						<div class="naver">
							<ul id="naver-list">
								<li id="huawei" class="">
									<a href="" target="_blank">
										<span>华为专区</span>
									</a>
								</li>
								<li id="honor" class="">
									<a href="" target="_blank">
										<span>荣耀专区</span>
									</a>
								</li>
								<li id="huawei" class="">
									<a href="" target="_blank">
										<span>HUAWEI P20</span>
									</a>
								</li>
								<li id="honor" class="">
									<a href="" target="_blank">
										<span>荣耀10</span>
									</a>
								</li>
								<li id="huawei" class="">
									<a href="" target="_blank">
										<span>nova 3i</span>
									</a>
								</li>
								<li id="honor" class="">
									<a href="" target="_blank">
										<span>荣耀V10</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!--导航右边部分-->
					<div class="right">

					</div>
				</div>
			</div>
			<div id="car-table" class="layout">
				<p>首页>手机>华为>订单</p>
				<!-- <table border cellspacing="0" v-if="jsonData.length">
					<tr>
						<th>主图</th>
						<th>手机名称</th>
						<th>价格</th>
						<th>简介</th>
						<th>操作</th>
					</tr>
					<tr v-for="(item,index) in jsonData" :key="index">
						<td><img :src="'sas/upload/'+item.img" alt="" srcset=""> </td>
						<td>{{item.name}}</td>
						<td>{{item.price}}</td>
						<td>{{item.jianJie}}</td>
						<td class="table-delete" @click="delet(item.id)">删除</td>
					</tr>
				</table> -->
				<el-table
					:data="jsonData"
					style="width: 100%">
					<el-table-column
						label="主图"
						width="180">
						<template slot-scope="scope">
							<a :href="`detail.html?id=${scope.row.id}`">
							<img :src="'sas/upload/'+scope.row.img" alt=""></a>
						</template>
					</el-table-column>
					<el-table-column
						prop="p_name"
						label="手机名称"
						width="180">
					</el-table-column>
					<el-table-column
						prop="price"
						label="价格">
					</el-table-column>
					<el-table-column
						prop="jianJie"
						label="简介">
					</el-table-column>
					<el-table-column
						prop="my_address"
						label="收货地址">
					</el-table-column>
					<el-table-column
						label="操作"
						width="180">
						<template slot-scope="scope">
							<a href="javascript:void(0)" @click="delet(scope.row.id)">删除</a>
						</template>
					</el-table-column>
					</el-table>
			</div>
			<!--底部footer版权-->
			<div id="footer">
				<div class="foot">
					<!--<p class="foot_logo"><img src="static/image/flogo.png" /></p>-->
					<p class="">隐私声明 服务协议 Copyright © 2012-2018 华为软件技术有限公司 版权所有 保留一切权利公安备案<br /> 苏公网安备32011402010009号 增值电信业务经营许可证：苏B2-20130048号</p>
					<p class=""></p>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		// 注册
		Vue.component('my-component', {});
		var WEITUOSERVER = new Vue({
			el: '#pdetail',
			data: {
				jsonData: [],
				dialogTableVisible: false,
        		dialogFormVisible: false,
        		pid:"",
        		radio_color:"1",
        		radio_v:"1",
        		userInfo:JSON.parse(window.sessionStorage.user),
			},
			created() {
				this.gatData();
			},
			methods: {
				gatData() {
					var that = this;
					$.ajax({
						type: "GET",
			             url: "php/order.php",
			             data: {"userId":JSON.parse(window.sessionStorage.user).userId},
			             dataType: "json",
						success: function(data) {
							that.jsonData = data.data;
						},
					});
				},
				delet(id){
					var that = this;
					$.ajax({
						type: "GET",
			             url: "php/order.php",
			             data: {"pid":id,"del":"del"},
			             dataType: "json",
						success: function(data) {
							that.$message({
								message: "删除成功",
								type: 'success'
							});
							that.gatData();
						},
						error:function(data){
							console.log(data.responseText)
							that.$message({
								message: data.responseText,
								type: 'success'
							});
							window.location.reload();
						}
					});
				},
				xiadan() {
					 this.$message({
				          message: '恭喜你，下单成功',
				          type: 'success'
				       });
				},
				addCar() {
					var user = window.sessionStorage.user ? JSON.parse(window.sessionStorage.user) :"";
					if(!!user){
						
					}else{
						this.$message({
				          message: '请先登录',
				          type: 'warning'
				        });
					}
				},
				car(){
					if(window.sessionStorage.user){
						window.location.href = "car.html"
					}else{
						this.$message({
				          message: '请先登录',
				          type: 'warning'
				        });
					}
				},
			}
		})
	</script>
	
</html>

