body {
	margin: 0px;
	padding: 0px;
}

.left {
	background: #313541;
	width: 20%;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
    overflow-y: scroll;
}

.top {
	width: 80%;
	float: right;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #b0cdff;
}

.content {
	float: right;
	width: 80%;
	padding: 10px 20px;
    box-sizing: border-box;
}

.leftTiyle {
	font-size: 25px;
	padding-left: 30px;
	font-weight: 600;
	color: #545454;
	float: left;
}

.thisUser {
	float: right;
	margin-right: 30px;
}

.bigTitle {
	background: #3d598a;
	color: #fff;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 24px;
	font-family: -webkit-body;
}

.lines .active {
	background: #272a34;
	color: #fff;
}
.lines img{
    width: 23px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 9px;
}
.lines div {
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	color: #707783;
}

.lines div:hover {
	cursor: pointer;
	color: #FFFFFF;
}