
a{
	cursor: pointer;
	text-decoration: none;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.top_gg{
	width: 100%;
    margin: 0 auto;
    position: relative;
}
/*.top_gg a{
	display: block;
    position: relative;
    width: 1920px;
    text-align: center;
    left: 50%;
    background-color: ;
    margin-left: -960px;
}*/
.top_gg img{
	width: 100%;
}
/*登录购物车导航*/
.shortcut{
	min-width: 1200px;
    height: 30px;
    line-height: 30px;
    background: #f0f0f0;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.layout{
	width: 1200px;
    margin: 0 auto;
    font-size: 12px;
}
/*清楚浮动.layout*/
.layout:before, .layout:after{
	content: "";
    display: table;
}
.layout:after {
    clear: both;
}
.layout .s-sub{
	float: left;
}
.layout .s-right{
	float: right;
}
.shortcut a{
	color: #a4a4a4;
}
.shortcut a:hover {
    color: #ca151d;
}
.shortcut li {
    float: left;
    padding: 0 8px;
    position: relative;
}
.toTop{
    height: 20px;
    width: 20px;
    position: fixed;
    right: 12px;
    bottom: 10%;
    font-size: 30px;
    color: #666;
}
/*header*/
.header{
	min-width: 1200px;
    height: 50px;
    padding: 10px 0;
    background: #fff;
    position: relative;
    line-height: 1.5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.04);
}
.header .left{
	float: left;
}
.header .right{
    float: right;
    margin-top: 8px;
}
.header .logo{
	float: left;
    margin-right: 40px;
    width: 240px;
    height: 50px;
}
.header .naver {
    float: left;
    max-width: 560px;
    height: 40px;
    overflow: hidden;
    margin-top: 5px;
}
.header .naver li{
	float: left;
    margin-right: 20px;
}
.naver a {
    font-size: 14px;
    color: #3a3a3a;
    position: relative;
    line-height: 40px;
    display: block;
}
.naver a:hover{
	color: #ca141d;
}
.right input.search-text{
    width: 290px;
    height: 35px;
    vertical-align: middle;
    background-color: #f0f0f0;
    border-radius: 15px;
    text-indent: 15px;
    border: 1px solid #f0f0f0;
    outline: 0;
    margin-right: -30px;
}
.right input.search-btn{
    vertical-align: middle;
    width: 48px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
}
.right .el-button.is-circle{
    padding: 10.5px;
    background: #f0f0f0;
    vertical-align: middle;
    border: 0;

}
/* 公告 */
.hotPro-right{
    float: right;
    margin-top: 18px;
}
.hotPro-right .notice {
    width: 300px;/*单行显示，超出隐藏*/
    height: 50px;/*固定公告栏显示区域的高度*/
    /* padding: 0 30px; */
    /* background-color: #b3effe; */
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

}
.notice ul li {
    list-style: none;
    line-height: 48px;
    /*以下为了单行显示，超出隐藏*/
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*banner*/
#banner{
    height: 383px;
}
#banner .swiper-slide img{
	width: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 30px !important;
}

/* 公告2 */
.box .winBox li {
    list-style:none;
}
.box .winBox a {
    text-decoration:none;
}
.box .winBox img {
    border:none;
}
.box {
    padding-left:27px;
    margin-top:20px;
    margin-left:100px;
}
.box .winBox {
    width:1100px;
    height:40px;
    overflow:hidden;
    position:relative;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
}
.box .winBox .scroll {
    /*width的大小是根据下面li的长度和多少个li而定的，需注意！*/
    width:1500px;
    position:absolute;
    left:0px;
    top:0px;
}
.box .winBox .scroll li {
    width:300px;
    float:left;
    line-height:40px;
    text-align:left;
    background: url("../image/li-icon6.gif");
    background-repeat: no-repeat;
    background-position: 0px center;
    font-size: 12px;
}
.box .winBox .scroll li a,a:link,a:visited,a:hover,a:active{
    color: black;
}
/*静态展示列表*/
.show_list{
	display: flex;
	width: 1200px;
	margin: 0 auto;
}
.show_lists{
	margin: 10px 6px 0;
}
/*热销单品*/
.title{
	color: #3a3a3a;
    font-size: 22px;
    margin: 0;
    padding: 30px 0 15px 0;
    line-height: 1;
}
#hotPro{
	width: 1200px;
	margin: 0 auto;
}
.orderBy{
    float: left;
    line-height: 5;
    font-size: 16px;
    margin-left: 48px;
    cursor: pointer;
}
.grid-img{
	margin: 36px auto 0;
    width: 178px;
    height: 178px;
}
.grid-img img{
 	width: 100%;
    height: 100%;
 }
 .grid_ul{
 	margin-left: -12px
 }
.grid-items{
	height: 346px;
    width: 291px;
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 0;
        float: left;
     background: #fff;
}
.grid-items:hover{
    box-shadow: 0px 0px 12px 5px #ccc;
}
.grid-items .grid-title{
	height: 40px;
    display: table-cell;
    vertical-align: bottom;
    width: 259px;
    padding-left: 16px;
    padding-top: 5px;
    white-space: normal;
    line-height: 1.1;
    font-size: 14px;
    font-weight: 400;
    margin: 16px 20px 2px;
    overflow: hidden;
    color: #3a3a3a;
    text-align: center;
}
.grid-items .grid-desc{
	font-size: 12px;
    font-weight: 400;
    margin: 4px 20px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a4a4a4;
    text-align: center;
}

.grid-items .grid-price{
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cc0e11;
    text-align: center;
    margin-top: 15px;
}
.grid-items .grid-sales{
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cc0e11;
    text-align: center;
}
/*底部广告*/
#bottom_gg{
	width: 1200px;
	margin: 20px auto;
}
/*服务*/
.slogan-container{
    border-top: 1px solid #EEE;
    line-height: 1.5
}
.slogan-container .slogan{
    padding: 46px 0 46px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.slogan-container .slogan li{
    float: left;
    line-height: 47px;
    font-size: 18px;
    color: #3a3a3a;
    height: 47px;
    width: 300px;
    text-align: left;
}
/*此处可以写个多需要雪碧图的类--*/
.slogan-container .slogan i{
	background: url(../image/icon-common.png);
    display: inline-block;
    line-height: 47px;
    width: 47px;
    height: 47px;
    margin-right: 16px;
    vertical-align: middle;
}
/*这下面的位置属性需要在各个引入雪碧图的标签内单独写*/
.slogan .s1 i{
	background-position: 0 -151px;
}
.slogan .s2 i{
    background-position: -94px -151px;
}
.slogan .s3 i{
    background-position: -141px -151px;
}
.slogan .s4 i{
	background-position: -47px -151px;
}
#phoneDetail img{
    width: 100%;
}
/*底部版权*/
#footer{
	border-top: 1px solid #EEE;
    line-height: 1.5;
    background: #e6e6e6;
    width: 100%;
    min-width: 1200px
}
#footer .foot{
	text-align: center;
    padding: 26px 0 34px;
    width: 1200px;
    margin: 0 auto;
    color: #666;
    line-height: 1.5;
}
#footer .foot_logo{
	width: 79px;
    height: 16px;
    padding: 20px 38px 0 0;
    float: left;
}



/*详情页面*/
.de-con-left{
	float: left;
	width: 500px;
}
.de-con-right{
	float: left;
	width: 700px;
}
.de-con-right-jianJie{
	font-size: 21px;
    max-height: 84px;
    overflow: hidden;
    margin-bottom: 10px;
}
.de-product-info{
	background: #f5f5f5;
    padding-top: 14px;
    padding-bottom: 3px;
    padding-left: 10px;
}
.phone-detail{
    width: 1200px;
    margin: 0 auto 100px;
}


/*购物车*/
#car-table table{
	width: 100%;
}
#car-table table td{
	text-align: center;
}
.table-delete{
	color: blue;
	cursor: pointer;
}
.el-table td, .el-table th{
    text-align: center !important;
}
.el-table__row img{ 
    width: 39%;
}
.el-table{
    min-height: 400px;
}

/*登录注册弹窗*/
.el-dialog--center .el-tabs__header{
	padding: 0 0 0 81px;
}
.el-form-item{
    margin-bottom: 13px;
}
/* 热门问题 */
#login-body{
    
}
.login-header{
    background-color: #333333;
    height: 67px;
    min-width: 960px;
}
.login-body{
    width: 1200px;
    height: 67px;
    margin: 0px auto;
    border: 0px;
    position: relative;
}
.login-body .login-cont{
    float: left;
    width: 143px;
    margin-right: 20px;
}
.login-body .login-cont img{
    margin-left: 4px;
    margin-top: 17px;
}
.login-body .login-name{
    color: white;
    font-size: 20px;
    height: 67px;
    line-height: 50px;
    font-family: "arial";
    padding-top: 14px;
}
.login-main{
    width: 1200px;
    margin: 0 auto;
    color: #BBB;
    font-size: 14px;
}
.faq-list {
    border: 1px solid #d0d0d0;
    padding: 24px 36px 0;
    margin-bottom: 20px;
}
.faq-list .faq-area {
    margin-bottom: 32px;
}
.faq-area .h {
    padding-bottom: 24px;
    border-bottom: 1px dashed #c5c5c5;
}
.faq-area .h h3 {
    background-repeat: repeat-y;
    background-position: right 0;
    display: inline-block;
    padding: 3px 258px 1px 9px;
    font-size: 14px;
    color: rgb(26, 24, 24);
    font-weight: 700;
}
.faq-area .b {
    padding: 11px 19px 0;
    color: #666;
    line-height: 18px;
    zoom: 1;
}
/* 保修政策 */
.help-detail-area {
    border: 1px solid #d0d0d0;
}
.help-detail-area .h {
    padding: 24px 0;
    border-bottom: 1px dashed #c5c5c5;
    margin: 0 26px;
}
.help-detail-area .b {
    color: #666;
    line-height: 18px;
}
.help-detail-area .b {
    padding: 11px 22px 28px;
    min-height: 100px;
    _height: 100px;
    margin: 0 26px;
    position: relative;
    z-index: 2;
}
